.calendar {
  .background-icon {
    color: rgba(255, 255, 255, .05);
    font-size: 700%;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
  }

  ul {
    margin-top: 8px;
    padding: 0 1vw;
  }

  li {
    font-size: 1.1vw;
    list-style: none;
    margin-bottom: 2.5vw;

    &:nth-child(2) {
      color: rgba(255, 255, 255, .8);
    }

    &:nth-child(3) {
      color: rgba(255, 255, 255, .6);
    }

    &:nth-child(4) {
      color: rgba(255, 255, 255, .4);
    }

    .title {
      font-size: 2vw;
      text-align: left;
    }

    .date-and-time-container {
      width: 100%;

      .date {
        float: left;
      }

      .time {
        float: right;

        .start-at,
        .label,
        .delimiter,
        .end-at {
          display: inline-block;
          vertical-align: baseline;
        }

        .delimiter {
          margin: 0 .5vw;
        }

        .label {
          margin-left: 0.25vw;
          opacity: .5;
        }
      }
    }
  }
}
